h1 {font-size:70px;}

body {background-image:url('https://f.cloud.github.com/assets/5040652/964614/49f85222-0519-11e3-963b-19f95b95297f.jpg');}

h1 {color:black;}

p {color:black;}

.container {background-color : Gray;}
